<div class="container-fluid" style="margin-top : 12px; margin-bottom: 20px;">

<div *ngIf="bookmarked==true" (click)="toggleBookmark()">
  <img src="../../../../../assets/bookmark_black_32px.png" alt="Image not found">
</div>

<div *ngIf="bookmarked==false" (click)="toggleBookmark()">
  <img  src="../../../../../assets/bookmark_white_32px.png" alt="Image not found">
</div>

<nav  class="breadcrumb-style">
  <ol class="breadcrumb" style="background-color: white ">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Fashion</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12  category">
 
      <div class="social-buttons sticky">     
    <div class="row">
                  <!-- facebook  Button -->
        <a href="http://www.facebook.com" target="blank" class="social-margin"> 
          <div class="social-icon facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
          </div>
        </a>
    </div>
    <div class="row">
       <!-- LinkedIn Button -->
       <a href="http://linkedin.com/" class="social-margin" target="blank">
        <div class="social-icon linkedin">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </div> 
      </a>
      </div>
      <div class="row">
        <!-- TwitterButton -->
        <a href="http://twitter.com/" target="blank" class="social-margin">
          <div class="social-icon twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div> 
        </a>
        </div>
      <div class="row"></div>

       

    </div>
 
    
  </div>
  <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
    <!-- Main title-->
    <mat-card  class="shadow">
       
    <div class="title">
      <p>The 14 Best Hair Products of 2018, According to Our Beauty Editors
        </p>
        <hr>
       <div>
   <ul class="tags">
                <li><a href="#" class="tag">HTML</a></li>
                <li><a href="#" class="tag">CSS</a></li>
                <li><a href="#" class="tag">JavaScript</a></li>
              </ul>
       </div>
         
       
        <p class="lead subtitle">February 26, 2019
        </p>
      <img class="responsive" src="https://pbs.twimg.com/media/DW7HwunWsAICuhb.jpg" alt="">
    </div>


   <hr>
    

    <!--Main Body-->
   
          <div class="content" *ngFor="let item of array">
      <!--title-->
        <p class="content-title">1. Tresemme Shampoo
          </p>
      <!--Sub title-->
          <p class="lead content-subtitle">Keratin Smooth
          </p>
      <!-- Image-->
        <img class="responsive" src="https://images-na.ssl-images-amazon.com/images/I/41VNWd%2BcbJL._SX466_.jpg" alt="">
        
      <!--Buy now button-->
      <button mat-raised-button class="buy-now" color="primary">Buy now</button>
      <!--Description-->
        <p class="content-desc">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque officiis qui aperiam ad soluta minima fugit ipsa reiciendis, corrupti exercitationem. Iste tempore nemo, odit placeat odio commodi veniam nesciunt ex suscipit quaerat illo laborum officia facere ullam est recusandae perspiciatis quo necessitatibus harum, neque dolorem iusto. Numquam obcaecati animi dolorum.
        </p>
        <hr>
      </div>

    </mat-card>

  
  </div>

  <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
    <mat-card class="shadow" >
        <p class="content-desc" *ngFor="let item of array">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, nihil. Lorem, ipsum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam molestiae voluptates ut iste modi omnis nesciunt, cumque molestias. Omnis, a.
         </p>
    </mat-card>
  </div>
</div>




<app-similar-posts></app-similar-posts>



<app-comment-section></app-comment-section>







</div>