
<header  style="margin-top: 12px;">
		<mat-card class="shadow" style= "margin: 7px auto"><h1>Top Articles</h1></mat-card>		
	</header>
	<div class="band">

		<div class="item-2" *ngFor="let article of articles">
			<a href="{{ article.blog_link }}" class="card">
				<img width="300px;" class="dumb" src="{{ article.image }}" alt="No Image Found">
				<article>
					<h1>{{ article.title }}</h1>
					<span>{{ article.author_name }} | {{ article.time }}</span>
				</article>
			</a>
		</div>
		<!-- <div class="item-3">
			<a href="https://design.tutsplus.com/articles/envato-tuts-community-challenge-created-by-you-july-edition--cms-26724" class="card">
				<div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);"></div>
				<article>
					<h1>Created by You, July Edition</h1>
					<p style="font-size: 12px;">Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+ community! </p>
					<span>Melody Nieves</span>
				</article>
			</a>
		</div> -->
	
	</div>
	<!-- <header>
		
		<mat-card class="shadow" style= "margin: 7px auto"><h1><h1>Recent Articles</h1></h1></mat-card>		

	</header>
<div class="container">
		
			<div class="row">
				<div class="col-md-6">
					<div class="blog-card">
						<div class="meta">
							<div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
							<ul class="details">
								<li class="author"><a href="#">John Doe</a></li>
								<li class="date">Aug. 24, 2015</li>
								<li class="tags">
									<ul>
										<li><a href="#">Learn</a></li>
										<li><a href="#">Code</a></li>
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="description">
							<h1>Learning to Code</h1>
							<h2>Opening a door to the future</h2>
							<p style="font-size: 12px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
							<p class="read-more">
								<a href="#">Read More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="blog-card">
						<div class="meta">
							<div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
							<ul class="details">
								<li class="author"><a href="#">John Doe</a></li>
								<li class="date">Aug. 24, 2015</li>
								<li class="tags">
									<ul>
										<li><a href="#">Learn</a></li>
										<li><a href="#">Code</a></li>
										<li><a href="#">HTML</a></li>
										<li><a href="#">CSS</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="description">
							<h1>Learning to Code</h1>
							<h2>Opening a door to the future</h2>
							<p style="font-size: 12px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
							<p class="read-more">
								<a href="#">Read More</a>
							</p>
						</div>
					</div>
				</div>
			</div>
	
		
</div> -->
