<div class="container" style="margin:15px 0px">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div (click)="openBottomSheet()"><img width="30px" src="../../assets/new-story/plus.svg" alt=""></div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
      <mat-form-field class="example-full-width" class="text">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div (click)="openBottomSheet()"><img width="30px" src="../../assets/new-story/plus.svg" alt=""></div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/T95gBLvVAYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div (click)="openBottomSheet()"><img width="30px" src="../../assets/new-story/plus.svg" alt=""></div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
      
      
	<div class="item-4" style="width : 500px; height : 500px">
    <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
      <article>
        <h1>How to Code a Scrolling “Alien Lander” Website</h1>
        <p style="font-size: 12px;">We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
        <span>Kezz Bracey</span>
      </article>
    </a>
  </div>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div (click)="openBottomSheet()"><img width="30px" src="../../assets/new-story/plus.svg" alt=""></div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
      <mat-form-field class="example-full-width" class="text">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div (click)="openBottomSheet()"><img width="30px" src="../../assets/new-story/plus.svg" alt=""></div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
      <object width="800" height="400" data="https://material.angular.io/components/input/examples"></object>    </div>
  </div>


  
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
      <div (click)="openBottomSheet()"><img width="30px" src="../../assets/new-story/plus.svg" alt=""></div>
    </div>
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
     <b><p style="font-size: 25px;">.              .                .</p></b>
</div>

