.footer {
    
    color: white;
    text-align: center;
    height: 200px;
  }
  .navbar-font{
    font-family: 'Righteous', cursive;
    
}
a   {
    font-size: 50px;
}
a:hover{
    font-size: 52px;
    color: #b60e63;
}
.nav-link{
    font-size: 25px;
}
.nav-link:hover{
    font-size: 27px;
    color: #b60e63;
}